:root {
  /* 3D Geometry */
  --depth: 5cqw; 
  --rot-x: 0deg; /* Set by JS */
  --rot-y: 0deg; /* Set by JS */

  /* Metallic Shader Config */
  --light-angle: calc(135deg - var(--rot-y) - var(--rot-x));
  
  /* Gold Gradient (Converted to OKLCH) */
  --gold-grad: linear-gradient(
      var(--light-angle),
      oklch(48% 0.13 85) 0%,   /* Dark Gold */
      oklch(97% 0.05 100) 25%, /* Pale Gold */
      oklch(48% 0.13 85) 50%,
      oklch(97% 0.05 100) 75%,
      oklch(48% 0.13 85) 100%
  );
}

/* ========================================
   FONTS
   ======================================== */

@font-face {
  font-family: "Romman";
  src: url("./romman.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* ========================================
   CONTAINER CONFIGURATION
   ======================================== */
.packaging-container {
  width: 80vmin;
  aspect-ratio: 16 / 23;
  container-type: size;
  position: relative;
  transform-style: preserve-3d;
  
  /* Disable interaction on the packaging itself to prevent native drag */
  pointer-events: none;
}

@media (min-aspect-ratio: 16/23) {
  .packaging-container {
    height: 70vmin;
    width: auto;
  }
}

.packaging-body {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center calc(var(--depth) / -2);
  transform: rotateX(var(--rot-x)) rotateY(var(--rot-y));
}

/* ========================================
   FACES & GEOMETRY
   ======================================== */

.face {
  position: absolute;
  backface-visibility: hidden;
  background-color: var(--pkg-bg);
  /* Note: Lighting filters are handled in app.css */
}

/* Front Face */
.face-front {
  width: 100%;
  height: 100%;
  transform: translateZ(0px);
}

/* Back Face */
.face-back {
  width: 100%;
  height: 100%;
  transform: translateZ(calc(var(--depth) * -1)) rotateY(180deg);
}

/* Side Faces (Fold-Out Logic) */
.side-face {
  background-color: var(--pkg-bg);
  position: absolute;
}

.face-right {
  width: var(--depth);
  height: 100%;
  top: 0;
  left: 100%;
  transform-origin: left;
  transform: rotateY(90deg);
}

.face-left {
  width: var(--depth);
  height: 100%;
  top: 0;
  right: 100%; 
  transform-origin: right;
  transform: rotateY(-90deg);
}

.face-top {
  width: 100%;
  height: var(--depth);
  left: 0;
  bottom: 100%;
  transform-origin: bottom;
  transform: rotateX(90deg);
}

.face-bottom {
  width: 100%;
  height: var(--depth);
  left: 0;
  top: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}


/* ========================================
   GRAPHIC ASSETS
   ======================================== */

/* Global Asset Config: Prevent Dragging */
img, svg {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}

/* Metallic Shader */
.metallic {
  background: var(--gold-grad);
  background-size: 150% 150%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
  filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.5)) contrast(1.2) brightness(1.1); 
}

.metallic-asset {
  background: var(--gold-grad);
  background-size: 150% 150%;
  filter: contrast(1.2) brightness(1.1);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: var(--asset-url);
  mask-image: var(--asset-url);
}

/* Background Silhouette */
.silhouette-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100cqh;
  opacity: 0.6;
  z-index: 1;
}

.borobudur-svg {
  --opacity-gradient: linear-gradient(to bottom, black 0%, hsla(0, 0%, 0%, 0.2) 100%);
  opacity: 0.5;
  mask-image: var(--opacity-gradient);
  -webkit-mask-image: var(--opacity-gradient);
}

.mountain {
  /* border: 3px solid red; */
  width: 100%;
  opacity: 0.8;
  /* transform: translate(-50%, -50%); */
}

/* Typography */
.brand-area {
  /* border: 2px solid red; */
  position: absolute;
  top: 23cqh;
  width: 100%;
  /* height: 100%; */
  text-align: center;
  z-index: 10;
}

.product-title {
  /* border: 2px solid red; */
  padding-bottom: 5cqh;
  font-family: 'Romman', 'Shrikhand', cursive;
  color: rgb(202, 202, 231);
  color: oklch(from var(--pkg-bg) clamp(0.9, l * 1.3, 1) clamp(0, c * 0.2, 0.4) h);
  font-size: 14cqh;
  line-height: 0.9;
  margin: 0;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.tagline {
  position: absolute;
  width: 100%;
  height: auto;
  top: 48%;
  text-align: center;
  /* color: oklch(from var(--pkg-bg) 1 clamp(0, c * 0.2, 0.4) h); */
  color: white;
  text-shadow: 1px 1px 2px black;
}

.tagline-curve svg {
  /* border: 2px solid red; */
  position: absolute;
  width: 60%;
  height: auto;
  top: 52%;
  left: 50%;
  transform: translate(-50%);
  /* height: 100%; */
}

.tagline-curve text {
  font-size: 10cqh;
  fill: white;
  text-shadow: 1px 1px 3px gray;
}


/* Ribbon */
.variant-ribbon {
  position: absolute;
  top: 56cqh;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.ribbon-content {
  background-color: oklch(from var(--pkg-bg) clamp(0, l * 0.95, 1) clamp(0, c * 0.5, 0.4) h);
  padding: 1cqh 6cqw;
  /* clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%); */
  border-radius: 100vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#variant-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 5cqw;
  color: white;
  letter-spacing: 0.5cqw;
}

/* Chips Image */
.chips-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100cqw;
  height: 100cqh;
  z-index: 5;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.chips-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.5));
}

.logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  padding-left: 7cqw;
  padding-top: 7cqw;
  z-index: 100;
}

.logo-img {
  width: 20%;
  aspect-ratio: 16/9;
  height: auto;
}

.halal-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  padding-left: 2cqw;
  padding-top: 88cqh;
  z-index: 100;
}

.halal-icon {
  width: 15%;
}

/* Footer */
.footer-info {
  position: absolute;
  bottom: 2cqh;
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  z-index: 10;
}

.net-weight {
  position: absolute;
  /* width: 15cqw; */
  font-size: 4cqw;
  text-align: center;
  color: black;
  padding-block-start: 90cqh;
  padding-inline-start: 84cqw;
  /* margin-inline-start: auto; */
  z-index: 100;
}

.pirt {
  position: absolute;
  font-size: 2.5cqw;
  left: 50%;
  transform: translate(-50%);
  top: 96%;
}

/* Back Face Design */
.back-logo {
  font-family: 'Shrikhand';
  font-size: 10cqw;
  margin-top: 10cqh;
  text-align: center;
}